@using IdentityServer3.Core.Models
@model IEnumerable<Client>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>注册用户</h1>
    <p class="lead">客户端需在本页注册一个客户ID，指定连接方式后方可进行登陆；多个客户端集成无需多次登陆。</p>
    <p><a href="@Url.Action("RefreshClient", "Home")" class="btn btn-primary btn-lg">刷新客户信息 &raquo;</a></p>
</div>

<div>
    <table>
        <thead>
            <tr>
                <th>客户端ID</th>
                <th>客户端名称</th>
                <th>声明</th>
                <th>跳转地址</th>
                <td>弹出授权页面</td>
            </tr>
        </thead>
        <tbody>
            @foreach (Client client in Model)
            {
                <tr>
                    <td style="color:green;font-weight:bold">@client.ClientId</td>
                    <td>@client.ClientName</td>
                    <td>
                        @foreach (string scope in client.AllowedScopes)
                        {
                            @scope<i>&nbsp;</i>
                        }
                    </td>
                    <td>
                        @foreach (string uri in client.RedirectUris)
                        {
                            @uri<i>&nbsp;</i>
                        }
                    </td>
                    <td>@(client.RequireConsent==false?"否":"是")</td>
                </tr>
            }
        </tbody>
    </table>

</div>
