@using SSOServer.Db
@model IEnumerable<SYSTEMINFO>
@{
    ViewBag.Title = "主页";
}

<script type="text/javascript">
    function RedAlert()
    {
        if(confirm("删除后不可恢复，确定要删除吗？"))
        {
            return true;
        } else {
            return false;
        }
    }
</script>
<link rel="stylesheet" href="~/assets/css/loader-style.css">
<link rel="stylesheet" href="~/assets/css/bootstrap.css">


<div class="col-sm-12">
    <div class="jumbotron">
        <h1>注册客户端</h1>
        <p class="lead">客户端需在本页注册一个客户ID，指定连接方式后方可进行登陆；多个客户端集成无需多次登陆。</p>
        <p><a href="@Url.Action("RegistClient", "Home")" class="btn btn-primary btn-lg">注册新客户端 &raquo;</a></p>
    </div>
    <div id="content-mail">
        <div class="table-responsive">
            <!-- THE MESSAGES -->
            <table class="table table-mailbox">
                <tr>
                    <th>客户端ID（标识）</th>
                    <th>客户端名称</th>
                    <th>声明</th>
                    <th>跳转地址</th>
                    <th>弹出授权页面</th>
                    <th></th>
                </tr>
                @if (null != Model)
                {
                    foreach (SYSTEMINFO client in Model)
                    {
                    <tr class="unread">
                        <td class="name" style="color:green;font-weight:bold;">
                            <i class="star"></i>
                            @client.CLIENTID
                        </td>
                        <td>@client.CLIENTNAME</td>
                        <td class="subject">
                            @client.ALLOWEDSCOPES
                        </td>
                        <td >
                            @client.REDIRECTURIS
                        </td>
                        <td class="text-right">@(client.REQUIRECONSENT == "false" ? "否" : "是")</td>
                        <td><a onclick="return RedAlert();" href="@Url.Action("DeleteClient", "Home", new { SYSTEMID = client.SYSTEMID })">删除</a></td>
                    </tr>
                    }
                }
            </table>
        </div>
    </div>
</div>